* {
    margin: 0;
    padding: 0;
}

canvas {
}

#canvas {
    display: block;
    margin: auto;
    
    height: 100%;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}